.card-advantage {
}

.card-advantage__inner {
  padding: 40px 45px 32px 45px;
  background-color: var(--color-white);
  border-radius: 15px;
  overflow: hidden;
  height: 100%;
}

.card-advantage__icon {
  margin-bottom: 12px;
}

.card-advantage__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 2;
}
