.image-container {
  background-size: 100% auto;
  background-size: cover;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  position: relative;
  display: block;
}

.image-container__image {
  display: none;
}

.image-container::before {
  content: "";
  display: block;
  width: 100%;
  height: auto;
  padding: 58% 0 0;
}
